//visual stars componenet
.Stars {
 align-items: center;
 color: #FFA000;
 display: flex;
 font-size: 16px;
 justify-content: left;
}

//title of review
.reviewTitle {
  margin-top: 0px;
  padding-top: 0px;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: black;
}

//example {27 found this helpful}
.foundHelpful {
  position: relative;
  display: block;
  margin-top: 3%;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(20,20,20,.65);
}
//user name and date
.userInfo {
  height: 50%;
  display: flex;
  vertical-align: bottom;
  padding-top: 20px;
  width: 67%;
  float: right;
}

//div for stars and info
.reviewAndStars{
  // display: inline-block;
  float: right;
  width: 67%;
}

//profile picture
.profilePicture {
  height: 40px;
  width: 40px;
  padding-right: 10px;
  cursor: pointer;
}

//name and date
.nameAndDate {
  vertical-align: left;
}

//username
.userName {
  display: relative;
  vertical-align: top;
  height: 30%;
  width: 100%;
  cursor: pointer;
  color: black;
}

//default state of reviews for website

//date
.date {
  display: relative;
  height: 30%;
  width: 100%;
  text-align: left;
  align-self: center;
  padding-top: 5%;
  color: rgba(20,20,20,.65);
}

//left colum is stars and user info
//right column is review body and titles
.column {
  float: left;
 }


 //left colum is stars and user info
.left {
  width: 30%;
  clear: right;
  min-height: 170px;
  flex-shrink: 1;
  height: 100%;
  padding-bottom: 2%;
}

//right colum is review body and titles
.right {
  float: left;
  height: 10%;
  min-height: 170px;
  width: 62%;
  padding-left: 3%;
  height: 100%;
  padding-bottom: 2%;
}


//words 'overall Stars'
.overallStarsText {
  font-family: Arial;
  color: rgba(20,20,20,.65);
  font-size: 14px;
}

//overalStars graphic
.overallStars {
  font-size: 16px;
  margin-top: 2%;
  display: inline-block
}

//words performance stars
.performanceStarsText {
  font-family: Arial;
  color: rgba(20,20,20,.65);
  font-size: 14px;
}

//performance stars graphic
.performanceStars{
  font-size: 16px;
  margin-top: 2%;
  display: inline-block;
}

//words story stars
.storyStarsText{
  font-family: Arial;
  color: rgba(20,20,20,.65);
  font-size: 14px;
}

//story stars graphic
.storyStars{
  font-size: 16px;
  margin-top: 2%;
  display: inline-block;
}

//audible title at top of page for filtering reviews
.Audible {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  width: 200px;
  height: 60px;
  float: right;
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-right: 20px;
  font-family: "Audible Sans",Arial,sans-serif;
  border-bottom: 3px solid black;
}

//on hovering on audible
.Audible:hover{
  color: black;
}

//audible.co.ca filter at top of page
//for when it audibe.co.ca is active
.Canada {
  outline: none;
  height: 60px;
  border: none;
  background: none;
  cursor: pointer;
  width: 200px;
  color: rgba(20,20,20,.65);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  float: right;
  text-align: left;
  font-family: "Audible Sans",Arial,sans-serif;
  border-bottom: 3px solid rgba(20,20,20,.4);
}

//for when audible.co.ca has be clciked
.displayCanada {
  outline: none;
  height: 60px;
  border: none;
  background: none;
  cursor: pointer;
  width: 200px;
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  float: right;
  text-align: left;
  font-family: "Audible Sans",Arial,sans-serif;
  border-bottom: 3px solid black;
}

//for when audible filter is not active
.noDisplayAudible{
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  width: 200px;
  height: 60px;
  float: right;
  color: rgba(20,20,20,.65);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-right: 20px;
  font-family: "Audible Sans",Arial,sans-serif;
  border-bottom: 3px solid rgba(20,20,20,.4);
}

//when hovering on audible when it's not displayed
.noDisplayAudible:hover {
  color: black;
}

//when hovering on .ca.co when is not dipslayed
.Canada:hover{
  color:black;
}

//spacing for nav bar
.formattingDiv {
  float: right;
  width: 100px;
  height: 60px;
}

//grey line underneath filters
.greyBar {
  border-bottom: 3px solid rgba(20,20,20,.4);
  width: 590px;
  height: 57px;
  float: right;
}

//div containing all other divs
.reviewShell {
  display: table; text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;


}

//show more button on bottom of screen
.showMore {
  line-height: 20px;
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  color: #333;
  cursor: pointer;
  border: none;
  padding: 0 16px;
  white-space: nowrap;
  background-color: #E8E8E8;
  font: 400 14px Arial;
  text-decoration: none;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  text-align: center;
  position: relative;
  left: 30%;
  right: 30%;
}

//div conataining all reviews
.reviewBodyContainer{
  align-content: center;
}
//div containing columns
.columnsContainer{
  align-content: center;
}

//div that contains each individual review
.reviewBody{
  clear: both;
  padding-top: 5%;
  padding-bottom: 10%;
  width: 90%;
}

// text of review
.defaultReview{
  clear: left;
  display: block;
  white-space: pre-line;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: rgba(20,20,20,.65);
  margin-top: 0;
  margin-bottom: 15px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}




//div for drop down filters
.filters {
  width: 50%;
  padding-top: 2%;
  float: right;
  height: 40px;
  justify-content: center;
}

//filter by stars
#filterBy {
  position: relative;
  bottom: 0;
  width: 220px;
  flex: 1;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: rgba(20,20,20,.65);
}

//sort by most helpful/ most recent
#sortBy {
  position: relative;
  bottom: 0;
  width: 220px;
  flex: 1;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: rgba(20,20,20,.65);
}

//'filter by' text
#filterByLabel{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(20,20,20,.65);
}

//sort by' text
#sortByLabel{
  float: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(20,20,20,.65);
}

//div for sortby filter
.sortByDiv {
  width: 40%;
  left: 0;
  display: inline-block;
  height: 50px;
  padding-right: 15px;
  padding-left: 23px;

}

//div for filterby filter
.filterByDiv {
  height: 50px;
  width: 40%;
  right: 0;
  display: inline-block;
}

//phone view
.customerReviewsDiv{
  display: none;
}

//phone view element
.phoneUserInfo {
  display: none;
}

///phone view element
.readMore {
  display: none;
}

//phone view element
.hideHideMeButton{
  display: none;
}

//phone view formatting
@media (max-width: 550px) {
  //'Audible.com Reiews'
  .Audible {
    width: 48%;
  }
  //when audible.com filter is not active
  .noDisplayAudible {
    width: 48%;
  }
  //'Audible.co.ca Reviews'
  .displayCanada{
    width: 48%;
  }
   //'Audible.co.ca Reviews -- because when setting state fucntion sometimes uses displayCanada as class and sometimes uses Canada as class -- each class does the same thing'
  .Canada{
    width: 48%;
  }

  //for when 'Audible.co.ca' is not active
  .noDisplayCanada{
    width: 48%;
  }

  //div containing reviews
  .reviewsShell {
    width: 100%;
    height: 100%;
  }
  //grey bar underneath audible and audible.ca filters
  .greyBar{
    display: none
  }

  //pushes audible and audible.ca to the left
  .formattingDiv {
    width: 4%;
  }

  //sort by and filterby
  .filters {
    width: 100%;
    height: 130px;
    padding-top: 2%;
    float: right;
    justify-content: center;
  }
  //div for sortby
  .sortByDiv {
    width: 100%;
    height: 65px;
    left: 0;
    display: block;
    padding-right: 0px;
    padding-left: 0px;
  }
  //dropdown for sortby
  #sortBy {
    width: 95%;
    position: relative;
    bottom: 0;
    flex: 1;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgba(20,20,20,.65);
    float: left;
  }
  //text for sortby
  #sortByLabel{
    float: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(20,20,20,.65);
    padding-bottom: 5px;
  }
  //filter by dive
  .filterByDiv{
    width: 100%;
    height: 65px;
    left: 0;
    display: block;
    padding-right: 0px;
    padding-left: 0px;
  }
  //drop down for filter by
  #filterBy{
    width: 95%;
    position: relative;
    bottom: 0;
    flex: 1;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgba(20,20,20,.65);
    float: left;
  }
  //text for filterby label
  #filterByLabel{
    float: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(20,20,20,.65);
    padding-bottom: 5px;
  }

  //customer reviews text
  .customerReviewsDiv{
    font-weight: bolder;
    font-size: 24px;
    line-height: 32px;
    display: block;
    width: 90%;
    padding-top: 24%;
    margin: 0;
  }
  //stars and userinfo
  .reviewAndStars{
    float: left;
  }
  //don't display 'overall stars' text
  .overallStarsText {
    display: none;
  }
  //overall stars graphic
  .overallStars {
    font-size: 16px;
    margin-top: 10%;
    display: inline-block
  }
  //don't display performance stars in phone view
  .performanceStarsText {
    display: none;
  }
  //don't dispaly performance stars in phone view
  .performanceStars{
    display: none;
  }
  //don't dispaly story stars in phone view
  .storyStarsText{
    display: none;
  }
  //don't dispaly story stars in phone view
  .storyStars{
    display: none;
  }
  //don't display profile picture in phone view
  .profilePicture {
    display: none;
  }
  //don't display user div in phone view
  .user {
    display: none;
  }
  //don't dispaly name and date div in phone view
  .nameAndDate {
    display: none
  }
  //don't display username div in phone view
  .userName {
    display: none;
  }
  //don't display date div in phone view
  .date {
    display: none;
  }
  //don't display userInfo in phone view
  .userInfo {
    display: none;
  }

  //formatting for all user info
  .phoneUserInfo {
    display: block;
    width: 100%;
    float: right;
    clear: left;
    padding-top: 3%;
    margin-left: 0px;
    padding-left: 0px;
    left: 0px;
    color: #141414;
    background-color: #FFF;
    font-family: "Audible Sans",Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
  }


  //'by' text in user info
  .By {
    color: rgba(20,20,20,.65)
  }

  //formatting for phone view user name
  .phoneUserName {
    color: black;
  }

  //formatting for date text in phone view
  .phoneOnDate{
    color: rgba(20,20,20,.65)
  }


  //left column is 100% in phone view
  .left {
    text-align: left;
    width: 100%;
    height: 10%;
    min-height: auto;
    flex-shrink: 1;
  }

  //right colum is below left column in phone view
  .right {
    text-align: left;
    height: 10%;
    flex-shrink: 1;
    width: 100%;
    float: left;
    min-height: auto;
    padding-left: 0;
  }


  //review title is smaller in phone view
  .reviewTitle {
    margin-top: 0px;
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    padding-top: 1%;
    margin-bottom: 0px;
    color: black;
  }

  //formatting for review body text in phone view
  .reviewBodyText{
    clear: left;
    display: block;
    white-space: pre-line;
    color: rgba(20,20,20,.65);
    margin-bottom: 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 5px;
    background-color: #FFF;
    font-family: "Audible Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  //readmore button in phone view
  .readMore{
    display: block;
    padding: 0;
    border: none;
    background: none;
  }

  //hide me button in phone view
  .hideMe {
    display: block;
    padding: 0;
    border: none;
    background: none;
  }
  //dimension of hidden review in phone view
  .defaultReview{
    margin-top: 5px;
    height: 60px;
    overflow:hidden;
    clear: left;
    display: block;
    white-space: pre-line;
    color: rgba(20,20,20,.65);
    background-color: #FFF;
    font-family: "Audible Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  }
  //hide read more button when hide me butto nsi active
  .hideReadMoreButton{
    display: none;
  }
  //hide hideme button when readmore is active
  .hideHideMeButton{
    display: none;
  }
  //grey line between reviews
  .greyLine {
    width: 100%;
    height: 1%;
    border-bottom: 2px solid rgba(20,20,20,.25);
  }
  //show more button
  .showMore {
    float: left;
    line-height: 20px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #141414;
    cursor: pointer;
    border: none;
    padding: 0 16px;
    white-space: nowrap;
    background-color: #E8E8E8;
    font: 400 15px Arial;
    text-decoration: none;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    text-align: center;
    left: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

}


/* focus states */

button:focus{
  outline: 5px solid black;
  outline-offset: 1px;
}

select:focus{
  outline: 5px solid black;
  outline-offset: 1px;
}