@import "components.less";
@color: white;
body {
  background-color: @color;
  padding-bottom: 10%;
  width: 1045px;
  min-width: 1045px;
  min-height: 707px;
  margin-left: 5%;
  margin-right: 5%;
}




