#webpack configuration
/webpack.config.js

#test folder
/Client/Tests

#bundle
/dist/bundle.js

#seed DB
/Server/databaseHelperFunctions/seedDB.js

dist/reviews.js


/S3_Access

/Server

/config.js

/jest.config.js

/Client

